body {
  zoom: .5;
}

.pf {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 3rem;
}

.wgs {
  position: relative;
  display: inline-block;
  width: 640px;
  height: 482px;
  overflow: hidden;
}

.wgs__mole-head {
  height: 356px;
  width: 376px;
  left: 109px;
  position: absolute;
}

.wgs__mole-hill {
  height: 220px;
  width: 640px;
  position: absolute;
  top: 262px;
  z-index: 1;
}

.wgs__mole-head--hidden {
  transform: translateY(482px);
  transition: all .25s;
}


.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 4rem;
  margin-bottom: 4rem;
  padding: 10px 20px;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

.sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}

@keyframes slidein {
  0% {
    opacity: .3;
    transform: scale(.1);
  }

  10% {
    opacity: .4;
    transform: scale(.2);
  }

  20% {
    opacity: .5;
    transform: scale(.3);
  }

  30% {
    opacity: .6;
    transform: scale(.4);
  }

  40% {
    opacity: .7;
    transform: scale(.5);
  }

  50% {
    opacity: .8;
    transform: scale(.6);
  }

  60% {
    opacity: .9;
    transform: scale(.7);
  }

  70% {
    opacity: 1;
    transform: scale(.8);
  }

  80% {
    transform: scale(.9);
  }

  90% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
  }
}

.wg__clicked {
  margin-top: 4rem;
  position: absolute;
  bottom: 25%;
  right: 25%;
  width: 20rem;
  height: 20rem;
  z-index: 3;
  border-radius: 50%;
  border: 1rem solid #f95959;
  animation-duration: .25s;
  animation-name: slidein;
}
